
body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#002e22,#00110c);
color:white;
}

.container{
text-align:center;
margin-top:120px;
}

button{
padding:12px;
margin:10px;
background:#00ffb3;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

.chatBox{
width:400px;
margin:50px auto;
}

#mensajes{
height:300px;
background:#01261d;
padding:10px;
overflow-y:auto;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin-top:10px;
background:#003d2e;
border:none;
color:white;
}

.videoBox{
text-align:center;
margin-top:40px;
}

video{
width:300px;
border-radius:12px;
margin:10px;
}
